<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>

	<!-- 
		Confiruração de ordenação do serviço
		asc = Ascendente
		desc = Descendente
    -->
		<add key="Title" value="asc"/>
		<add key="AuthorName" value="desc"/>
		<add key="EditionYear" value="desc"/>
	</appSettings>
</configuration>